# 忽略 build/ 目录下所有文件（包括子目录）
build/

# 忽略 data/ 目录下所有文件（包括子目录）
data/

# 忽略 log/ 目录下所有文件（包括子目录）
log/

# 其他通用忽略规则（可选）
*.o        # 忽略编译生成的中间文件
*.exe      # 忽略可执行文件
*.log      # 忽略日志文件
.DS_Store  # 忽略 macOS 的 .DS_Store 文件